.dropdown-menu {
    width: 100%; 
}

.btn {
    width: 100%;
}

ul {
    list-style-type: none;
}

.identifier, .value {
    display: inline;
}
.identifier {
    color: #000033;	font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 14pt;
}
.value{
    color: #444444;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
    font-style: italic;
}